.formContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.buttonWrapper {
 text-align: center;
 width: 100%;
}

.buttonBack {
  border-color: #131313;
  color: #131313;
}

.buttonBack:hover {
  background-color: #131313;
  color: #F0F0F0;
}

.label {
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.labelText {
  color: #999;
}

.checkboxLabel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.input {
  color: #999;
  font-family: sans-serif;
  font-size: var(--pre-font-size);
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;

  letter-spacing: 0.5rem;

  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;

  appearance: none;

  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-radius: var(--border-radius);

  outline: 0;

  background-color: transparent;

  transition: all 0.2s;
}

.input:focus {
  color: #131313;
  border-color: #131313;
}

.inputError {
  border-color: #c62828;
}

.checkbox {
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-radius: var(--border-radius);
  outline: 0;

  color: #999;
  background-color: transparent;

  transition: all 0.2s;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(13,13,13)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: center;
  background-size: 0.75rem auto;
  background-repeat: no-repeat;
  color: #131313;
  /*background-color: #131313;*/
  border-color: #131313;
}

.formSuccess {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
