.section {
  position: relative;

  background-color: #131313;

  display: flex;
  align-items: center;
  flex-direction: column;

  height: var(--section-height);
  width: 100%;
}

.headerContainer {
  position: absolute;
  height: calc(100% + 100vh);

  margin-top: -100vh;
}

.headerContent {
  position: sticky;
  --top: calc(20vh - var(--pre-font-size) - 5rem);
  top: calc(var(--top));
  height: calc(100vh - 2 * var(--top));
  max-height: 55rem;
}

.back {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotateY(180deg);

  background-color: #F0F0F0;
}

.front, .back {
  backface-visibility: hidden;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform 250ms;

  height: 100%;
  padding: 5rem 4rem 3rem;
  box-sizing: border-box;

  border-radius: 3rem;
  box-shadow: 0 0 3rem #333;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.frontContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
}

.frontSpacer {
  flex-grow: 1;
  flex-shrink: 1;
}

@media only screen and (max-width: 768px)  {
  .headerContent {
    width: 100%;
    top: 0;
  }
  .front, .back {
    box-shadow: none;
    padding: 0px;
    padding-top: calc(20vh - var(--pre-font-size));
  }
}

.frontRotated {
  transform: rotateY(180deg);
  /*animation: frontFlip 1s forwards linear;*/
}

.backRotated {
  transform: rotateY(0deg);
  /*animation: backFlip 1s forwards linear;*/
}

/*@keyframes frontFlip {
  0% {
    transform: scale(1.0) opacity(1) translateX(0px) rotateY(0deg);
  }
  50% {
    transform: scale(0.5) opacity(0.5) translateX(0px) rotateY(90deg);
  }
  100% {
    transform: scale(1.0) opacity(0) translateX(50%) rotateY(180deg);
  }
}

@keyframes backFlip {
  0% {
    transform: scale(1.0) opacity(0) translateX(0px) rotateY(180deg);
  }
  50% {
    transform: scale(0.5) opacity(0.5) translateX(-50%) rotateY(90deg);
  }
  100% {
    transform: scale(1.0) opacity(1) translateX(0px) rotateY(0deg);
  }
}
*/

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textFront {
  color: #F0F0F0;
  text-align: center;
}

.preAboveDate {
  color: #999;
  font-family: sans-serif;
  line-height: 1;
}

.pre {
  color: #999;
  font-family: sans-serif;
  line-height: 1.5;
}

.body {
  margin: 0;
}

.buttonWrapper {
 text-align: center;
 width: 100%;
}

.button {
  display: inline-block;
  cursor: pointer;

  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 12px 36px;
  box-sizing: border-box;
  margin: 0;

  background: transparent;

  font-family: sans-serif;
  font-size: var(--pre-font-size);
  font-weight: 100;
  line-height: var(--pre-line-height);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.2s;
}

.buttonFront {
  border-color: #F0F0F0;
  color: #F0F0F0;
}

.buttonFront:hover {
  background-color: #F0F0F0;
  color: #131313;
}

.buttonBack {
  border-color: #131313;
  color: #131313;
}

.buttonBack:hover {
  background-color: #131313;
  color: #F0F0F0;
}

.rsvp {
  color: #131313;
  padding-bottom: 3rem;
}

.form {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /*justify-content: space-between;*/
  gap: 2rem;
}

.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.label {
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.labelText {
  color: #999;
}

.checkboxLabel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.input {
  color: #999;
  font-family: sans-serif;
  font-size: var(--pre-font-size);
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;

  letter-spacing: 0.5rem;

  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;

  appearance: none;

  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-radius: 3px;

  outline: 0;

  background-color: transparent;

  transition: all 0.2s;
}

.input:focus {
  color: #131313;
  /*background-color: #131313;*/
  border-color: #131313;
}

.checkbox {
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  border-width: 1px;
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-radius: 3px;
  outline: 0;

  color: #999;
  background-color: transparent;

  transition: all 0.2s;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(13,13,13)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
  color: #131313;
  /*background-color: #131313;*/
  border-color: #131313;
}

