.section {
  position: relative;
  height: 300vh;
  width: 100%;
}

.progressionTracker {
  position: sticky;
  top: 0;

  height: 100vh;
}

.overlayContainer {
  position: absolute;
  height: calc(100% + 200vh);
  width: 100%;

  margin-top: -100vh;
  margin-bottom: -100vh;
  z-index: 50;
}

.overlayContent {
  position: sticky;
  top: 20vh;

  height: 60vh;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  color: #131313;
  text-shadow: 0px 0px 12px #F0F0F0;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  overflow: hidden;
}

.descriptionAnswer {
  width: 60vw;
  height: calc(2 * var(--body-font-size) * var(--header-line-height));
  max-height: 25vh;
}

.descriptionAnswersList {
  align-items: center;
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin: 0;

  height: 100%;
  position: relative;

  transition-duration: 50ms;
  transition-property: top;
  transition-timing-function: cubic-bezier(.75, 0, .25, 1);
}

.descriptionAnswersListItem {
  height: 100%;
  min-height: 100%;
  display: block;
  white-space: pre-wrap;
}

.picturesGridContainer {
  align-self: flex-start;
  position: sticky;
  top: 0;
}

.picturesGridContainerFront {
  z-index: 100;
}

.picturesGrid {
  --initial-offset: calc(100vw * (2 / 3));
  --trailing-offset: 100vw;
  --pictures-offset: 0px;
  --pictures-height: 80vh;
  --pictures-row-count: 5;
  --pictures-col-count: 18;
  --pictures-gap: 0.5rem;
  --column-width: calc(
    (
      var(--pictures-height)
        - var(--pictures-gap) * (var(--pictures-row-count) - 1)
    ) / var( --pictures-row-count)
  );

  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: calc(
    var(--column-width) * var(--pictures-col-count)
    + (var(--pictures-gap) * (var(--pictures-col-count) - 1))
    + var(--initial-offset)
    + var(--trailing-offset)
  );

  box-sizing: border-box;
  padding-left: var(--initial-offset);
  padding-right: var(--trailing-offset);
  padding-top: 10vh;
  padding-bottom: 10vh;

  display: grid;
  /*grid-template-columns: repeat(6, 1fr);*/
  grid-template-columns: repeat(
    var(--pictures-col-count),
    var(--column-width)
  );
  grid-template-rows: repeat(var(--pictures-row-count), 1fr);

  row-gap: var(--pictures-gap);
  column-gap: var(--pictures-gap);

}

.pictureContainer {
  position: relative;
  border-radius: 5px;
  --picture-offset: 0;
  --picture-width: 1;
  --variance: 1;
  /*
  --visibility-offset: calc((var(--pictures-offset) + 50vw + 100%));
  */
  /*
  --visible: clamp(
    0,
    calc(
      (var(--pictures-offset) + 50vw + 100% - var(--picture-offset)) / 100%
    ),
    1);
  */

  --visibility-factor: calc(
    var(--pictures-offset) / var(--picture-width)
    + var(--initial-offset-unitless) / var(--picture-width)
    + 1.5
    - var(--picture-offset) / var(--picture-width)
  );

  --visible: calc(var(--visibility-factor) * var(--variance));
  --invisible: calc(1 - var(--visible));
  opacity: clamp(0.05, var(--visible), 1);
}

.pictureOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F0F0F0;
  opacity: 0.25;
}

.picture {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

  transform-origin: left center;

  filter:
    blur(clamp(0px, calc(var(--invisible) * 3px), 3px))
    grayscale(clamp(0, var(--invisible), 1));
  transform: scale(clamp(0.75, var(--visible), 1));
}

.columnMeasurer {
  grid-column: 1;
  grid-row: 1;
}
