.section {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  height: 300vh;
  width: 100%;

  contain: paint;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  clip: rect(0px, auto, auto, 0px);
}

.progressionTracker {
  position: sticky;
  top: 0;

  height: 100vh;
}

.overlayContainer {
  position: absolute;
  height: calc(100% + 200vh);
  width: 100%;

  margin-top: -100vh;
  margin-bottom: -100vh;
}

.overlayContent {
  position: sticky;
  top: 20vh;

  height:  80vh;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  color: #131313;
  text-shadow: 0px 0px 12px #F0F0F0;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;

  overflow: hidden;
}

.descriptionAnswer {
  font-family: "Noto Serif Display", serif;
  font-size: 8vmin;
  font-weight: 300;
  line-height: 1;
  text-align: center;

  width: 60vw;
  height: 20vh;
}

.descriptionAnswersList {
  align-items: center;
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin: 0;

  height: 100%;
  position: relative;

  transition-duration: 50ms;
  transition-property: top;
  transition-timing-function: cubic-bezier(.75, 0, .25, 1);
}

.descriptionAnswersListItem {
  height: 100%;
  min-height: 100%;
  display: block;
  white-space: pre-wrap;
}
